html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.layout-component {
	height: 100vh;
}

.layout-component .layout-content {
	height: 100%;
	padding-top: 80px;
}

.page .page-title {
	font-size: 25px;
	padding: 25px;
}
